In [1]:
from PIL import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
from matplotlib import pyplot
import glob
import warnings
warnings.filterwarnings('ignore')
from PIL import Image
from sklearn.metrics import confusion_matrix, precision_score, recall_score, roc_curve, auc, accuracy_score

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

# Cargamos el DF con la muestra y entrenamos el modelo

In [3]:
df_muestra = pd.read_csv('DF_muestra_981.csv', sep=',', encoding='utf-8')
df_muestra = df_muestra.iloc[:,1:]
df_muestra.head()

,R,G,B,clase,R9mean,G9mean,B9mean,R9std,G9std,B9std,R81mean,G81mean,B81mean,R81std,G81std,B81std
0,24,59,79,1,35.375,70.875,90.125,10.809222,10.148012,11.969455,30.666667,67.481481,85.395062,14.864387,18.833555,21.830987
1,45,80,100,1,34.875,71.625,90.750,12.552035,11.915626,12.232860,32.024691,70.308642,88.320988,13.789466,17.416689,19.978631
2,47,84,103,1,40.625,79.125,98.125,9.826168,9.295736,9.417878,32.209877,71.592593,89.827160,12.742366,14.719696,16.458121
3,45,86,104,1,45.000,85.625,104.125,7.230886,7.763238,7.548652,32.345679,72.135802,90.666667,13.550056,14.244958,15.091388
4,56,99,116,1,42.125,84.125,102.375,4.733996,4.454131,4.438066,32.827160,72.518519,91.530864,14.725649,14.488885,14.531936

In [4]:
X = df_muestra.drop(columns='clase')
y = df_muestra.loc[:,'clase']

In [5]:
display(X.head())
display(y.head())

,R,G,B,R9mean,G9mean,B9mean,R9std,G9std,B9std,R81mean,G81mean,B81mean,R81std,G81std,B81std
0,24,59,79,35.375,70.875,90.125,10.809222,10.148012,11.969455,30.666667,67.481481,85.395062,14.864387,18.833555,21.830987
1,45,80,100,34.875,71.625,90.750,12.552035,11.915626,12.232860,32.024691,70.308642,88.320988,13.789466,17.416689,19.978631
2,47,84,103,40.625,79.125,98.125,9.826168,9.295736,9.417878,32.209877,71.592593,89.827160,12.742366,14.719696,16.458121
3,45,86,104,45.000,85.625,104.125,7.230886,7.763238,7.548652,32.345679,72.135802,90.666667,13.550056,14.244958,15.091388
4,56,99,116,42.125,84.125,102.375,4.733996,4.454131,4.438066,32.827160,72.518519,91.530864,14.725649,14.488885,14.531936

0    1
1    1
2    1
3    1
4    1
Name: clase, dtype: int64

In [6]:
modelo = KNeighborsClassifier(4)
modelo.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

# Cargamos la imagen y el df de esta

In [31]:
im_jpg = Image.open('San Pedro - Misiones 1.jpg')
#im_jpg

In [8]:
df_ic_981 = pd.read_csv('DF_img_completa_981_2.csv', sep=',', encoding='utf-8')
df_ic_981 = df_ic_981.iloc[:,1:]
df_ic_981.head()

,R,G,B,R9mean,G9mean,B9mean,R9std,G9std,B9std,R81mean,G81mean,B81mean,R81std,G81std,B81std
0,27,51,61,33.00,57.500000,66.000000,6.000000,6.500000,5.000000,56.823529,80.882353,89.176471,17.886029,19.908267,19.333711
1,39,66,75,39.00,65.333333,73.666667,0.000000,0.942809,1.885618,63.523810,89.000000,96.904762,19.614424,22.616892,21.836851
2,38,68,76,45.25,73.000000,81.000000,11.409974,12.206556,12.267844,66.800000,93.680000,101.360000,19.626513,23.190895,22.415852
3,64,97,104,63.75,93.500000,101.500000,16.990806,18.172782,17.755281,68.344828,96.586207,104.000000,18.099868,21.953740,21.151343
4,74,109,115,78.25,110.000000,117.250000,9.310612,10.074721,9.908961,67.969697,97.575758,104.666667,17.542131,21.124494,20.324141

# Creamos una función para modificar los colores de los pixels una vez clasificados

In [9]:
def color_class(df):
    
    for i in range(len(df)):
        if df.iloc[i][3] == 1:
            df.iloc[i] = [56,168,0,0]
        elif df.iloc[i][3] == 2:
            df.iloc[i] = [0,197,255,0]
        elif df.iloc[i][3] == 3:
            df.iloc[i] = [255,255,0,0]
        elif df.iloc[i][3] == 4:
            df.iloc[i] = [230,0,0,0]
        elif df.iloc[i][3] == 5:
            df.iloc[i] = [0,0,0,0]
        elif df.iloc[i][3] == 6:
            df.iloc[i] = [255,170,0,0]
    
    return df.iloc[:,:-1]

In [10]:
def color_class_apply(df):
    
    if df['clase'] == 1:
        df['R'] == 56
        df['G'] == 168
        df['B'] == 0
        
    elif df['clase'] == 2:
        df['R'] == 0
        df['G'] == 197
        df['B'] == 255
        
    elif df['clase'] == 3:
        df['R'] == 255
        df['G'] == 255
        df['B'] == 0
        
    elif df['clase'] == 4:
        df['R'] == 230
        df['G'] == 0
        df['B'] == 0
        
    elif df['clase'] == 5:
        df['R'] == 0
        df['G'] == 0
        df['B'] == 0
        
    elif df['clase']  == 6:
        df['R'] == 255
        df['G'] == 170
        df['B'] == 0
    
    return df.iloc[:,:-1]

In [11]:
def color_class_index(df):

    df.loc[df.clase == 1, 'R'] = 56
    df.loc[df.clase == 1, 'G'] = 168
    df.loc[df.clase == 1, 'B'] = 0
        
    df.loc[df.clase == 2, 'R'] = 0
    df.loc[df.clase == 2, 'G'] = 197
    df.loc[df.clase == 2, 'B'] = 255
        
    df.loc[df.clase == 3, 'R'] = 255
    df.loc[df.clase == 3, 'G'] = 255
    df.loc[df.clase == 3, 'B'] = 0
        
    df.loc[df.clase == 4, 'R'] = 230
    df.loc[df.clase == 4, 'G'] = 0
    df.loc[df.clase == 4, 'B'] = 0
        
    df.loc[df.clase == 5, 'R'] = 0
    df.loc[df.clase == 5, 'G'] = 0
    df.loc[df.clase == 5, 'B'] = 0
        
    df.loc[df.clase == 6, 'R'] = 255
    df.loc[df.clase == 6, 'G'] = 170
    df.loc[df.clase == 6, 'B'] = 0
        
    return df.iloc[:,:-1]

# Clasificamos el DF de la imagen y modificamos el RGB

In [21]:
df_cls = df_ic_981.copy()
im_cls = im_jpg.copy()

In [13]:
# Clasificamos el DF de toda la imagen
clase = modelo.predict(df_cls)

In [14]:
# incorporamos la clase al DF y nos quedamos con los campos originales
df_cls['clase'] = clase
df_cls_im = df_cls.loc[:,['R', 'G', 'B', 'clase']]

In [15]:
df_cls.to_csv('DF_img_completa_981_clasificada_3.csv', sep=',', encoding='utf-8')

In [16]:
# corremos la función anterior para cambiar los colores RGB del DF según la clase predicha
df_cls_im = color_class_index(df_cls_im)

# Reconstruimos la imagen

In [17]:
# volvemos a generar la imagen a partir del DF
img_csf = [tuple(l) for l in df_cls_im.values]

In [18]:
# modificamos la imagen original y la guardamos
im_cls.putdata(img_csf)
im_cls.save('classified_3.jpg')

In [32]:
#im_cls